TELEGRAM_API_ID=''
TELEGRAM_API_HASH=''
TELEGRAM_NUMBER='+91'
TELEGRAM_SESSION=''
TELEGRAM_BOT_NAME=''
TELEGRAM_BOT_TOKEN=''
TELEGRAM_BOT_SESSION=''
ANDROID_SERIAL=''
ANDROID_PIN=''
IA_MAIN_ACCOUNT=''
IA_ALT_ACCOUNT=''
GIT_URL=''
